/* 
Change this to change the properties of 
"will you be my boyfriend" and "stop playing." 
*/

.arial_prompt {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-align: center;
    margin-top: 20%;
    background: rgb(110, 78, 65);
    color: #fff2cc;
}


/*
Change this to change the properties of "Devin & Jenny"
*/

.yes-prompt {
    font-family: 'Rouge Script', cursive;
    font-style: italic;
    font-size: 170px;
    text-align: center;
    letter-spacing: 1px;
    margin-top: 13%;
    margin-bottom: 0%;
    color: #fff2cc;
    transform: rotate(-7.8deg)
}


/*
Change this to change the properties of "est. 2/22/22"
*/

.yes-sub-prompt {
    font-family: 'Rouge Script', cursive;
    font-style: italic;
    font-size: 60px;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 0%;
    color: #fff2cc;
    transform: rotate(-7.8deg)
}

body {
    background: rgb(110, 78, 65);
}

.centered-text {
    color: #fff2cc;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: larger;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    text-decoration: none;
}

.image-container {
    position: relative;
    text-align: center;
    color: transparent;
}

.yes-picture {
    width: 10%;
}

.heart-button {
    width: 100px;
    height: 86px;
}

.yes {
    position: absolute;
    width: 100px;
    height: 70px;
    margin-left: 80%;
}

.no {
    width: 100px;
    height: 70px;
    position: absolute;
    margin-left: 10%;
}

#yes-container {
    height: 100px;
    width: 50%;
    position: relative;
    text-align: center;
    color: transparent;
    float: left;
}

#no-container {
    height: 100px;
    width: 50%;
    position: relative;
    text-align: center;
    color: transparent;
    float: right;
}

.yes-answer {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-align: center;
    color: #fff2cc;
    position: absolute;
    margin-left: 84.5%;
    font-size: 20px;
}

.no-answer {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-align: center;
    color: #fff2cc;
    position: absolute;
    margin-left: 15%;
    font-size: 20px;
}